.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 24px 24px;
}

.image {
  width: 480px;
  max-width: 100%;
  height: auto;
  margin-top: 24px;
  margin-bottom: 24px;
}

.nutrition_list {
  display: flex;
  justify-content: center;
  gap: 48px;
  width: 100%;
  margin-top: 24px;
}

.nutrition_item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
