.order_details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.order_label {
  color: var(--text-inactive-color);
  font-size: 24px;
}

.icon {
  width: 120px;
  height: 120px;
  margin: 20px 0;
}

.text_muted {
  margin-top: 8px;
  color: var(--text-inactive-color);
}
