.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  color: var(--text-primary-color);
  background-color: var(--background-alt);
}

.title {
  width: 100%;
  max-width: 1260px;
  margin-right: auto;
  margin-left: auto;
}

.main {
  display: flex;
  justify-content: space-between;
  width: 1240px;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
}

main {
  display: flex;
  flex-direction: row; /* горизонтальное расположение */
  justify-content: flex-start; /* слева */
  align-items: flex-start;
  gap: 40px; /* расстояние между боковой панелью и контентом */
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.left_container {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;
  min-height: 100vh;
}

.actions {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
