.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  color: var(--text-primary-color);
  background-color: var(--background-alt);
}

.title {
  width: 100%;
  max-width: 1260px;
  margin-right: auto;
  margin-left: auto;
}

.main {
  display: flex;
  justify-content: space-between;
  width: 1240px;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.actions {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
