.app {
  min-height: 100vh;
}

.main {
  max-width: 1280px;
  margin: 0 auto;
  padding-top: 40px;
}

.content {
  display: grid;
  grid-template-columns: 1fr 480px;
  gap: 60px;
}

.feed {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-height: calc(100vh - 200px);
  overflow-y: auto;
}

.stats {
  display: flex;
  flex-direction: column;
}

.statusBlock {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 36px;
}

.readyList {
  color: #0cc;
}

.workList {
  color: #fff;
}
