.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.actions {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
