.card {
  padding: 24px;
  background: #1c1c21;
  border-radius: 40px;
}

.header {
  display: flex;
  justify-content: space-between;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 24px;
}

.ingredients {
  height: 48px;
}

.done {
  color: #0cc;
}
